{% extends "base.html" %}

{% block body %}

<div class="container mt-5">
    <h1>Вход в аккаунт</h1>
    {% for cat, msg in get_flashed_messages(True) %}
    <div class="flash {{cat}}">{{msg}}</div>
    {% endfor %}

    <form action="" method="post">

        {{ form.hidden_tag() }}
        <p>{{ form.email.label() }} {{ form.email() }}
        <p>{{ form.password.label() }} {{ form.password() }}
        <p>{{ form.remember.label() }} {{ form.remember() }}
        <p>{{ form.submit() }}

    </form>
</div>

{% endblock %}