<!DOCTYPE html>
<html lang="ru">

<head>
    <link rel="stylesheet" href="{{ url_for('static', filename='css/main.css') }}">
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>{% block title %}Моё резюме{% endblock %}</title>

    {% block extra_css %}{% endblock %}

</head>

<body class="{% block body_class %}{% endblock %}">
    <!-- Шапка сайта -->
    <header>

        <div class="verticalLine"></div>
        <div class="verticalLine2"></div>
        <div class="verticalLine3"></div>

        <div class="container">
            <span class="logo"></span>
            <nav>
                <ul>
                    <!-- Логика для головы сайта -->
                    <!-- Зарегистрирован? -->
                    {% if current_user.is_authenticated %}
                    <li class="active"><a href="{{ url_for('main_page.main')}}">Главная</a></li>
                    <li><a href="{{ url_for('profile.profile_of_user') }}" class="btn btn-info">Профиль</a></li>
                    <li class="active"><a href="{{ url_for('main_page.example_profile') }}">Пример анкеты</a></li>
                    <li class="active"><a href="{{ url_for('de_auth.deauth') }}">Выйти</a></li>
                    <li class="btn"><a href="{{ url_for('about_site.about_site') }}">О сайте</a></li>
                    {% else %}
                    <li class="active"><a href="{{ url_for('main_page.main')}}">Главная</a></li>
                    <li class="active"><a href="{{ url_for('main_page.example_profile') }}">Пример анкеты</a></li>
                    <li class="active"><a href="{{ url_for('registration.registration') }}">Регистрация</a></li>
                    <li class="active"><a href="{{ url_for('authenitication.auth') }}">Войти</a></li>
                    <li class="btn"><a href="{{ url_for('about_site.about_site') }}">О сайте</a></li>
                    {% endif %}
                </ul>
            </nav>
        </div>
    </header>

    <main class="container">
        {% block body %}
        <!-- Основной контент -->
        {% endblock %}
    </main>
</body>

</html>