<!DOCTYPE html>
<html lang="ru">

<head>
    <link rel="stylesheet" href="{{ url_for('static', filename='css/main.css') }}">
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>{% block title %}Моё резюме{% endblock %}</title>

    {% block extra_css %}{% endblock %}
</head>

<body>
    <!-- Шапка сайта -->
    <header class="header">
        <div class="header-container">

            <nav class="nav-links">

                <!-- Блок для дополнительных ссылок (можно переопределить) -->
                {% block extra_nav %}{% endblock %}
            </nav>

            <div class="auth-buttons">
                {% if current_user.is_authenticated %}
                <!-- Пользователь авторизован -->
                <a href="{{ url_for('profile.profile_of_user') }}" class="btn btn-info">Профиль</a>

                {% else %}
                <!-- Пользователь не авторизован -->
                <a href="{{ url_for('registration.registration') }}" class="btn btn-success">Создать аккаунт</a>

                {% endif %}
            </div>
        </div>
    </header>

    <main class="container">
        {% block body %}

        <!-- Основной контент -->

        {% endblock %}
    </main>

    <!-- Футер -->
    <footer class="footer">
        <p>© 2026 Моя анкета. Все права защищены.</p>
    </footer>

    {% block extra_js %}{% endblock %}
</body>

</html>