{% extends "base.html" %}

{% block body %}

<div>

    <h1>Здесь вы можете ознакомиться с тем, как выглядит анкета пользователя:</h1>
    <p>Имя: Игорь</p>
    <p>Фамилия: Балакирев</p>
    <p>Возраст: 19 лет</p>
    <p>Пол: Мужской</p>
    <p>Рост: 185 см</p>
    <p>Вес: 80 кг</p>
    <p>Целевой вес: 75 кг</p>
    <p>Цель тренировок: Убрать подкожный жир</p>
    <p>Опыт тренировок: 7 лет</p>
    <p>Активность в течение дня: Высокая</p>
    <p>Фото и уровень жира (текущая и желаемая форма):</p>
    <p>Проблемы со здоровьем: Диабет 2 типа</p>
    <p>Отчет: -</p>

</div>

{% endblock %}