{% extends "base.html" %}

{% block body_class %}edit{% endblock %}

{% block body %}

<div class="edit--info">
    <form action="" method="POST" novalidate class="form-contact" enctype="multipart/form-data">

        {{ form.hidden_tag() }}

        {% for field in form if field.name not in ['csrf_token', 'remember', 'submit'] -%}
        <p>{{ field.label() }}</p>
        {% if field.errors %}
        {{ field(class="invalid") }}
        <span class="invalid-feedback">
            {% for e in field.errors %}
            {{ e }}
            {% endfor %}
        </span>
        {% else %}
        {{ field() }}
        {% endif %}
        {% endfor %}

        <p>{{ form.submit(class = "btn btn-success") }}

    </form>
</div>

{% endblock %}