{% extends "base.html" %}

{% block body_class %}registration-bg{% endblock %}

{% block body %}

<div class="reg">
    <div class="reg--info">
        <h1>Создание аккаунта</h1>

        {% for cat, msg in get_flashed_messages(True) %}
        <div class="flash {{cat}}">{{msg}}</div>
        {% endfor %}

        <form action="" method="post" novalidate class="form-contact">
            {{ form.hidden_tag() }}
            {% for field in form if field.name not in ['csrf_token', 'submit'] -%}
            <p>{{ field.label() }}</p>
            {% if field.errors %}
            {{ field(class="invalid") }}
            <span class="invalid-feedback">
                {% for e in field.errors %}
                {{ e }}
                {% endfor %}
            </span>
            {% else %}
            {{ field() }}
            {% endif %}
            {% endfor %}
            <p>{{ form.submit(class = "btn btn-success") }}
        </form>
    </div>
</div>

{% endblock %}