{% extends "base.html" %}

{% block body %}

<ul>
    {% for u in list %}
    <li>
        <p>id: {{u.id}}</p>
        <p>Имя: {{u.name}}</p>
        <p>Фамилия: {{u.surname}}</p>
        <p>Возраст: {{u.age}}</p>
        <p>Пол: {{u.gender}}</p>
        <p>Рост: {{u.height}}</p>
        <p>Вес: {{u.weight}}</p>
        <p>Целевой вес: {{u.target_weight}}</p>
        <p>Цель тренировок: {{u.target_of_training}}</p>
        <p>Опыт тренировок: {{u.experience_of_training}}</p>
        <p>Активность в течение дня: {{u.active_in_the_day}}</p>
        <p>Фото и уровень жира (текущая и желаемая форма):</p>
        <p>Проблемы со здоровьем: {{u.health_problems}}</p>
        <p>Отчет: {{u.Report}}</p>
        <p>Дата создания/редактирования анкеты: {{u.user_date}}</p>

    </li>
</ul>

{% endblock %}