{% extends "base.html" %}

{% block body_class %}registration-bg{% endblock %}

{% block body %}

<div class="exampl">
    <div class="exampl--info">
        <ul>
            <li>
                <p><span class="orange-text-quest">Имя:</span> {{list.name}}</p>
                <p><span class="orange-text-quest">Фамилия:</span> {{list.surname}}</p>
                <p><span class="orange-text-quest">Возраст:</span> {{quest_list.age}}</p>
                <p><span class="orange-text-quest">Пол:</span> {{quest_list.gender}}</p>
                <p><span class="orange-text-quest">Рост:</span> {{quest_list.height}}</p>
                <p><span class="orange-text-quest">Вес:</span> {{quest_list.weight}}</p>
                <p><span class="orange-text-quest">Целевой вес:</span> {{quest_list.target_weight}}</p>
                <p><span class="orange-text-quest">Цель тренировок:</span> {{quest_list.target_of_training}}</p>
                <p><span class="orange-text-quest">Опыт тренировок:</span> {{quest_list.experience_of_training}}</p>

                <p><span class="orange-text-quest">Активность в течение дня:</span> {{quest_list.active_in_the_day}}</p>
                <p><span class="orange-text-quest">Фото и уровень жира(желаемае и текущая форма):</span>
                <div class="photo-quest">
                    <div class="profile-quest">
                        <img src="{{url_for('profile.show_avatar_in_quest')}}" alt="Фото для анкеты">
                    </div>
                </div>
                </p>
                <p><span class="orange-text-quest">Проблемы со здоровьем:</span> {{quest_list.health_problems}}</p>
                <p><span class="orange-text-quest">Комментарий:</span>{{quest_list.Report}}</p>
                <p><span class="orange-text-quest">Дата создания/редактирования анкеты:</span>
                    {{quest_list.user_date.strftime("%d.%m.%y, %H:%M")}}</p>
            </li>
        </ul>
    </div>
</div>

{% endblock %}