{% extends "base.html" %}

{% block body_class %}main-bg{% endblock %}

{% block body %}

<div class="hero">
    <div class="hero--info">

        <h2>Только представьте...</h2>
        <h1>У вас имеются потрясающие возможности для максимальной реализации и планирования своих тренировочных
            процессов!</h1>
        <p>Потому что именно здесь и только здесь для вас будут разработаны специальные и уникальные методики для
            увеличения эффективности ваших тренировок. Нужно только создать анкету:</p>
        <a href="{{ url_for('create_profile.create_profile') }}" class="btn">Создать анкету</a>
    </div>
</div>

{% endblock %}