{% extends "base.html" %}

{% block body %}

<div class="container mt-5">
    <h1>Cоздание аккаунта</h1>
    <form method="post">
        <input type="text" name="name" id="name" class="form-control" placeholder="Введите ваше имя"><br>
        <input type="text" name="surname" id="surname" class="form-control" placeholder="Введите вашу фамилию"><br>
        <input type="text" name="password" id="password" class="form-control" placeholder="Введите ваш пароль"><br>
        <input type="text" name="mail" id="mail" class="form-control" placeholder="Введите вашу почту"><br>
        <input type="text" name="phone" id="phone" class="form-control" placeholder="Введите ваш номер телефона"><br>
        <input type="submit" class="btn btn-success" value="Создать аккаунт">
    </form>

</div>

{% endblock %}